body {
  background: linear-gradient(180.61deg,
          #383737 25.16%,
          #383737 80%,
          #383737 100%);
  background-repeat: no-repeat;
  background-size: cover;


}

h1 {
  display: none;
}

.hidden {
  display: none;
}

select {
  border-radius: 25px;
  background-color: rgb(87, 84, 84);
  color: white;
  font-size: 36px;
  padding: 0 3em;
}

select option {
  background-color: rgb(87, 84, 84);
  color: white;
  font-size: 24px;
  padding: 0 1em;
  border-radius: 10px;
}

h2 {
  color: white;
}

main {
  padding: 0 3em;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 1em 3em;
}

.cabecalho__logo {
  display: flex;
  gap: 1em;
}

.cabecalho__logo img {
  width: 400px;
  height: 250px;
}

.material-symbols-outlined {
  color: white;
  font-size: 48px
}

.lista {
  list-style-type: none;
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 1em;
}

.lista li img {
  width: 300px;
  height: 444px;
}

.pesquisa {

  min-height: 100vh;
}

@media screen and (max-width: 1600px) {
  .lista {
      overflow: hidden;
      overflow-x: scroll;
  }


}

