body {
  background: linear-gradient(180.61deg,
          #383737 25.16%,
          #383737 80%,
          #383737 100%);
  background-repeat: no-repeat;
  background-size: cover;


}

h1 {
  display: none;
}

.hidden {
  display: none;
}

select {
  border-radius: 10px;
  background-color: rgb(87, 84, 84);
  color: white;
  font-size: 23px;
  padding: 0 1em;
}

select option {
  background-color: rgb(87, 84, 84);
  color: white;
  font-size: 24px;
  padding: 0 1em;
  border-radius: 10px;
}

h2 {
  color: white;
}

main {
  padding: 0 3em;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 1em 3em;
}

.cabecalho__logo {
  display: flex;
  gap: 1em;
}

.cabecalho__logo img {
  width: 200px;
  height: 150px;
}

.material-symbols-outlined {
  color: white;
  font-size: 48px
}

.lista {
  list-style-type: none;
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 1em;
}

.lista li img {
  width: 300px;
  height: 444px;
}

.pesquisa {

  min-height: 100vh;
}

@media screen and (max-width: 1600px) {
  .lista {
      overflow: hidden;
      overflow-x: scroll;
  }

}


.material-symbols-outlined {
  color: white;
  font-size: 48px;
  transition: font-size 0.3s;
}

.material-symbols-outlined:hover {
  font-size: 52px; 
  cursor: pointer;
}

select {
  border-radius: 10px;
  background-color: rgb(87, 84, 84);
  color: white;
  font-size: 23px;
  padding: 0 1em;
  transition: background-color 0.3s, font-size 0.3s;
}

select:hover {
  background-color: #666;
  font-size: 25px;
  cursor: pointer;
}

.lista li img {
  width: 300px;
  height: 444px;
  transition: transform 0.3s;
}

.lista li img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}